# This is generator of dummy data for training Feature Selection

### Imports

In [12]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_regression

### Constants

In [13]:
NR_FEATURES = 300
NR_SAMPLES = 1000
RANDOM_STATE = 42
CONSTANT_NUM = 88
OUTPUT_FILE = 'dataset_1.csv'

In [22]:
# create the X and y
X, y = make_regression(n_samples=NR_SAMPLES, n_features=NR_FEATURES,
                       random_state= RANDOM_STATE, noise=1)

In [23]:
# header_name = []
# for n in range (NR_FEATURES):
#     header_name.append('var_' + str(n).zfill(3))

header_name = ['var_' + str(n).zfill(3) for n in range(NR_FEATURES)]

In [24]:
data = pd.DataFrame(X, columns=header_name)
data['target'] = y

data.head()

,var_000,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,var_009,...,var_291,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,target
0,0.566641,0.186905,1.030377,0.650491,-0.188300,0.412270,0.522680,-2.224739,-0.132793,1.113718,...,2.271655,0.889888,-3.036828,-0.210911,-0.695161,1.531034,0.243749,0.047915,1.334189,-202.534454
1,0.735977,0.583452,0.037898,0.073635,0.470273,0.208394,-0.746163,0.439289,-0.204421,-0.014992,...,-0.342448,-1.311934,-1.038938,-0.312435,0.064567,0.926071,0.821849,0.878528,0.090524,-172.754861
2,-0.858676,-0.508239,1.216077,-1.260716,1.762102,0.834046,-0.332670,-1.341832,0.883449,0.466157,...,-1.470919,0.450301,-0.561289,0.194405,-0.069662,-0.918603,0.047757,-2.247156,-1.456312,190.896110
3,-0.195493,0.212536,0.974319,-0.575433,2.019593,0.610690,-0.133688,-1.280189,-0.282777,-1.571049,...,-1.152229,0.085986,-0.792935,1.038533,1.139867,-0.749016,1.135170,0.823252,0.641153,34.428192
4,0.269688,-0.842522,-0.662301,1.210583,0.831382,-0.752460,-0.056043,0.729560,1.248917,-0.284397,...,-0.190883,1.246872,-0.317585,0.421379,-0.801093,-0.134514,-1.548487,0.480539,0.027323,-8.217824

In [25]:
# make 3 columns of constants
list_columns_cte = ['var_002', 'var_003', 'var_005']

data[list_columns_cte] = CONSTANT_NUM
data.head()

,var_000,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,var_009,...,var_291,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,target
0,0.566641,0.186905,88,88,-0.188300,88,0.522680,-2.224739,-0.132793,1.113718,...,2.271655,0.889888,-3.036828,-0.210911,-0.695161,1.531034,0.243749,0.047915,1.334189,-202.534454
1,0.735977,0.583452,88,88,0.470273,88,-0.746163,0.439289,-0.204421,-0.014992,...,-0.342448,-1.311934,-1.038938,-0.312435,0.064567,0.926071,0.821849,0.878528,0.090524,-172.754861
2,-0.858676,-0.508239,88,88,1.762102,88,-0.332670,-1.341832,0.883449,0.466157,...,-1.470919,0.450301,-0.561289,0.194405,-0.069662,-0.918603,0.047757,-2.247156,-1.456312,190.896110
3,-0.195493,0.212536,88,88,2.019593,88,-0.133688,-1.280189,-0.282777,-1.571049,...,-1.152229,0.085986,-0.792935,1.038533,1.139867,-0.749016,1.135170,0.823252,0.641153,34.428192
4,0.269688,-0.842522,88,88,0.831382,88,-0.056043,0.729560,1.248917,-0.284397,...,-0.190883,1.246872,-0.317585,0.421379,-0.801093,-0.134514,-1.548487,0.480539,0.027323,-8.217824

In [26]:
# copy value of one column in others columns
col_in = 'var_006'
col_out = ['var_007', 'var_008']

for col in col_out:
    data[col] = data[col_in]

data.head()

,var_000,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,var_009,...,var_291,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,target
0,0.566641,0.186905,88,88,-0.188300,88,0.522680,0.522680,0.522680,1.113718,...,2.271655,0.889888,-3.036828,-0.210911,-0.695161,1.531034,0.243749,0.047915,1.334189,-202.534454
1,0.735977,0.583452,88,88,0.470273,88,-0.746163,-0.746163,-0.746163,-0.014992,...,-0.342448,-1.311934,-1.038938,-0.312435,0.064567,0.926071,0.821849,0.878528,0.090524,-172.754861
2,-0.858676,-0.508239,88,88,1.762102,88,-0.332670,-0.332670,-0.332670,0.466157,...,-1.470919,0.450301,-0.561289,0.194405,-0.069662,-0.918603,0.047757,-2.247156,-1.456312,190.896110
3,-0.195493,0.212536,88,88,2.019593,88,-0.133688,-0.133688,-0.133688,-1.571049,...,-1.152229,0.085986,-0.792935,1.038533,1.139867,-0.749016,1.135170,0.823252,0.641153,34.428192
4,0.269688,-0.842522,88,88,0.831382,88,-0.056043,-0.056043,-0.056043,-0.284397,...,-0.190883,1.246872,-0.317585,0.421379,-0.801093,-0.134514,-1.548487,0.480539,0.027323,-8.217824

In [27]:
# make a quasi-constant column
col_quasi = list_columns_cte[0]

# change just the three first row
data.loc[0:2, col_quasi] = CONSTANT_NUM - 0.01
data.head()

/tmp/ipykernel_1315/532054438.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '87.99' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[0:2, col_quasi] = CONSTANT_NUM - 0.01

,var_000,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,var_009,...,var_291,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,target
0,0.566641,0.186905,87.99,88,-0.188300,88,0.522680,0.522680,0.522680,1.113718,...,2.271655,0.889888,-3.036828,-0.210911,-0.695161,1.531034,0.243749,0.047915,1.334189,-202.534454
1,0.735977,0.583452,87.99,88,0.470273,88,-0.746163,-0.746163,-0.746163,-0.014992,...,-0.342448,-1.311934,-1.038938,-0.312435,0.064567,0.926071,0.821849,0.878528,0.090524,-172.754861
2,-0.858676,-0.508239,87.99,88,1.762102,88,-0.332670,-0.332670,-0.332670,0.466157,...,-1.470919,0.450301,-0.561289,0.194405,-0.069662,-0.918603,0.047757,-2.247156,-1.456312,190.896110
3,-0.195493,0.212536,88.00,88,2.019593,88,-0.133688,-0.133688,-0.133688,-1.571049,...,-1.152229,0.085986,-0.792935,1.038533,1.139867,-0.749016,1.135170,0.823252,0.641153,34.428192
4,0.269688,-0.842522,88.00,88,0.831382,88,-0.056043,-0.056043,-0.056043,-0.284397,...,-0.190883,1.246872,-0.317585,0.421379,-0.801093,-0.134514,-1.548487,0.480539,0.027323,-8.217824

### Save in csv file

In [28]:
data.to_csv(OUTPUT_FILE, index=False)